@charset "UTF-8";

/* font-family: 'Roboto', sans-serif;
font-family: 'Sriracha', cursive; */

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    display: block;
    border: 12px solid rgb(15, 15, 15);
    
    background-image: linear-gradient(to right, #1c1f25 50%, #2b3138 50%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.cabecalho-img {
    display: flex;
    max-width: 80px;
}

.cabecalho-nav {
    display: flex;
    font-family: 'Roboto', sans-serif; 
}

.cabecalho-nav > a {
    color: rgb(139, 139, 139);
    text-decoration: none;
    padding: 0px 35px;
    font-size: 0.8em;
}

.cabecalho-nav > a:hover {
    color: rgb(228, 228, 228);
}

.cabecalho-div {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 30px;

}

.cabecalho-button {
    display: flex;
    background-color: #fe662a;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.cabecalho-button > a > span {
    color: white;
    font-size: 22px;
    line-height: 35px;
    padding-left: 7px;
}

#span-burger {
    color: white;
    font-size: 35px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
    color: white;
    font-size: 5em;
}

h1#air {
    display: flex;
    justify-content: flex-start;
    padding-top: 150px;
    padding-left: 200px;
}

.tenis {
    width: 36vw;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 95px #ffbc9f52);
}

.container-2 {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
}

.quad1 {
    width: 550px;
    height: 20px;
    background-color: #2b3138;
}

.div-esq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    padding-left: 200px;

}

.div-esq > h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding-bottom: 10px;
    color: white;

}

.div-esq > p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    max-width: 250px;
    color: #646464;
}

.div-dir {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.div-dir > h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    padding-bottom: 10px;
    color: white;
}

.div-dir > p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    max-width: 250px;
    color: #646464;
    text-align: right;
}

.button-2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
}

.button-2 > span {
    color: #fe662a;
    font-size: 25px;
    line-height: 43px;
    padding-left: 10px;

}

.explore {
    width: 250px;
    height: 25px;
    margin-top: 80px;
    background-color: #fe662a;
}

.explore > h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 0.8em;
    padding-left: 150px;
    padding-right: 10px;
    padding-top: 5px;
    
}

.container-3 {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 60px;
}

.pay {
    background-color: transparent;
    border: 1px solid white;
    width: 160px;
    height: 65px;
}

.pay > p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.bag {
    background-color: #fe662a;
    border: none;
    width: 160px;
    height: 65px;
}

.bag > p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

h1#just {
    font-size: 15em;
    width: 0vw;
    line-height: 250px;
    color: #262c33; 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}